<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SportCrunch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>308DBA302EFEA3A4001F0B3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>308DBA3D2EFEA3A6001F0B3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>308DBA472EFEA3A6001F0B3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
